# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/

# Streamlit
.streamlit/

# Database
data/*.db
data/*.sqlite
data/*.sqlite3

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment variables
.env

スクリーンショット*
notes/